
<nav class="navbar navbar-fixed-top" id="chatheader" style="background-color: #428bca;border-color: #428bca;">
  <div class="container-fluid">
          <div class="roomname">
               {{roomname}}
      </div>
    <div class="navbar-header">
      <div class="dropdown pull-right online-user visible-xs">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="#">
        Online<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li id="all" (click)="refresh($event); roomname='ALL'"><a id="all">ALL</a></li>
          <li [id]="user._id" (click)="refresh($event); roomname=user.local.name" *ngFor="let user of users  | async"><a [id]="user._id">{{user.local.name}}</a></li>
        </ul>
      </div>
      <a class="navbar-brand"href="#" style="color:white">tets</a>
    </div>
  </div>
</nav>

<div class="row">
            <ul class="col-md-2 col-sm-2 hidden-xs userlist">
                <li class="row" (click)="refresh($event); roomname='ALL'" id="all"> <img id="all" class="col-sm-6 chat-image" src="http://bootdey.com/img/Content/user_5.jpg" alt=""><p id="all" class="col-sm-6">ALL<br></p></li>
                <li class="row" (click)="refresh($event); roomname=user.local.name" *ngFor="let user of users  | async; let i = index" [id]="user._id"> <img [id]="user._id" class="col-sm-6 chat-image" src="http://bootdey.com/img/Content/user_{{(i+1)%6}}.jpg" alt=""><p [id]="user._id" class="col-sm-6">{{user.local.name}}<br>admin</p></li>

            </ul>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="panel-body chat-panel-body" id=scrollMe>
                    <ul class="chat">
                        <li class="clearfix" [ngClass]="{'right': chatData.name == chat.name, 'left' : chatData.name != chat.name }" *ngFor="let chat of chats | async">
                        <span class="chat-img" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }">
                            <img src="http://placehold.it/50/{{ chatData.name == chat.name ?  '55C1E7' :'FA6F57'}}/fff&text={{chat.name.substr(0,3)}}" alt="User Avatar" class="img-circle" />
                        </span>
                            <div chat-body class="chat-body clearfix row">
                                <div class="header col-12-md" *ngIf="chatData.name == chat.name" style="text-align: right">
                                    <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{chat.date| amTimeAgo}}</small>
                                    <strong class="primary-font">{{chat.name}}</strong>
                                </div>
                                <div *ngIf="chatData.name != chat.name" class="header col-12-md">
                                    <strong class="primary-font">{{chat.name}}</strong>
                                    <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{chat.date| amTimeAgo}}</small>

                                </div>
                                <p style="display: inline-block;word-wrap: break-word;" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }">
                                    {{chat.text}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
</div>

<footer class="row panel-footer" id="todo-form">
      <div class=" text-center">
          <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
              <div class="form-group chat-add">

                  <!-- BIND THIS VALUE TO todoData.text IN ANGULAR -->
                  <input name="chat" type="text" class="form-control input-md text-center chat-content" placeholder="I am a developer" [(ngModel)]="chatData.text" [disabled]="chatData.name==''" required>

              <!-- createToDo() WILL CREATE NEW chats -->
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-md"
                    (click)="send()" [disabled]="chatData.text==''">Send</button>
              </span>
              </div>
          </form>
      </div>
  </footer>
