
<nav class="navbar navbar-fixed-top" id="chatheader" style="background-color: #428bca;border-color: #428bca;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span style="color:white" class="glyphicon glyphicon-chevron-down"></span>
      </button>
      <a class="navbar-brand"href="#" style="color:white">tets</a>
    </div>
  </div>
</nav>

<div class="row">
            <div class="col-md-3 col-sm-3 col-xs-0">
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                      <li style="float: none !important" id="all" (click)="refresh($event)" class="clearfix">All</li>
                      <li style="float: none !important" id="{{user._id}}" (click)="refresh($event)" class="clearfix" *ngFor="let user of users | async">{{user.local.name}}</li>
                  </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="clearfix" [ngClass]="{'right': chatData.name == chat.name, 'left' : chatData.name != chat.name }" *ngFor="let chat of chats | async">
                        <span class="chat-img" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }">
                            <img src="http://placehold.it/50/{{ chatData.name == chat.name ?  '55C1E7' :'FA6F57'}}/fff&text={{chat.name.substr(0,3)}}" alt="User Avatar" class="img-circle" />
                        </span>
                            <div chat-body class="chat-body clearfix row">
                                <div class="header col-12-md" *ngIf="chatData.name == chat.name" style="text-align: right">
                                    <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{chat.date| amTimeAgo}}</small>
                                    <strong class="primary-font">{{chat.name}}</strong>
                                </div>
                                <div *ngIf="chatData.name != chat.name" class="header col-12-md">
                                    <strong class="primary-font">{{chat.name}}</strong>
                                    <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{chat.date| amTimeAgo}}</small>

                                </div>
                                <p style="display: inline-block;word-wrap: break-word;" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }">
                                    {{chat.text}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
</div>

<footer class="row panel-footer" id="todo-form">
      <div class=" text-center">
          <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
              <div class="form-group chat-add">

                  <!-- BIND THIS VALUE TO todoData.text IN ANGULAR -->
                  <input name="chat" type="text" class="form-control input-md text-center chat-content" placeholder="I am a developer" [(ngModel)]="chatData.text" [disabled]="chatData.name==''" required>

              <!-- createToDo() WILL CREATE NEW chats -->
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-md"
                    (click)="send()" [disabled]="chatData.text==''">Send</button>
              </span>
              </div>
          </form>
      </div>
  </footer>
